<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        version="2.5"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Enables Spring configuration file lookup -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
    </context-param>
    
    <!-- Enables the minimal Spring filter chain -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<!-- Enables Spring request and session use by the Vaadin framework -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Handles Vaadin requests 
	<!-- Configure as required -->
	<servlet>
		<servlet-name>Vaadin GUI</servlet-name>
        <!-- <servlet-class>org.vaadin.spring.servlet.SpringAwareVaadinServlet</servlet-class> -->
        <servlet-class>com.somepackage.ServiceWrappedSpringVaadinServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>com.somepackage.MyUI</param-value>
        </init-param>
	</servlet>
   
	<servlet-mapping>
		<servlet-name>Vaadin GUI</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Vaadin GUI</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>

    <!-- HTTPS -->
    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>Secured resources</web-resource-name>-->
            <!--<url-pattern>/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<user-data-constraint>-->
            <!--<transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
        <!--</user-data-constraint>-->
    <!--</security-constraint>-->

    <!-- Plain HTTP -->
    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>Unsecured resources</web-resource-name>-->
        <!--</web-resource-collection>-->
        <!--<user-data-constraint>-->
            <!--<transport-guarantee>NONE</transport-guarantee>-->
        <!--</user-data-constraint>-->
    <!--</security-constraint>-->
</web-app>